:root {
    /* Ligth Mode */
    --primary-font:'Poppins', sans-serif;
    --primary-bg-color: #ffff;
    --primary-tx-color: #0000;
    --secondary-tx-color: #575757;
    --btn-bg-color: #2196f3;
    --cta-hover-color: #167bce;
    --btn-bg-ligth: #eeeeee;

    /* Dark Mode */
    --dark-primary-font:'Poppins', sans-serif;
    --dark-primary-bg-color: #22222;
    --dark-primary-tx-color: #ffff;
    --dark-secondary-tx-color: #828282;
    --dark-btn-bg-color: #1e88e5;
    --dark-cta-hover-color: #0d5e8c;
    --dark-btn-bg-ligth: #eeeeee;
}

body{
    font-family: var(--primary-font);
    background-color: var(--primary-bg-color);

}